.header {
  background-color: #cbcbcb;
  /* .header__content */
  /* .header__menu_wrapper */
  /* .header__menu_icon */
  /* header__nav */
  /* .header__ul */
  /* .header__li */
  /* .header__links */
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu_wrapper {
  width: 100%;
  display: none;
  justify-content: flex-end;
  align-items: center;
}

.header__menu_icon {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.header__menu_icon span {
  display: block;
  width: 34px;
  height: 3px;
  margin: 0 0 5px 0;
  background-color: #585858;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.header__menu_icon span:nth-child(3) {
  margin: 0 0 0 0;
}

.header__logo {
  color: #000;
  font-size: 25px;
  font-weight: 600;
}

.header__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: auto;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.header__ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  height: 72px;
  padding: 10px 0;
}

.header__li {
  margin: 0 0 0 50px;
}

.header__li*:last-child {
  margin: 0 0 0 0;
}

.header__links {
  display: flex;
  align-items: center;
  gap: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 145%;
  text-align: right;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

.header__links svg path {
  fill: #9998A4;
}

.active-burger:nth-child(1) {
  background-color: #000;
  transform: translate(0, 9px);
  -webkit-transform: translate(0, 9px) rotate(45deg);
  -moz-transform: translate(0, 9px);
  -ms-transform: translate(0, 9px);
  -o-transform: translate(0, 9px);
}

.active-burger:nth-child(2) {
  background-color: #000;
  transform: rotate(360deg) scale(0);
  -o-transform: rotate(360deg) scale(0);
  -webkit-transform: rotate(360deg) scale(0);
  -moz-transform: rotate(360deg) scale(0);
  -ms-transform: rotate(360deg) scale(0);
}

.active-burger:nth-child(3) {
  background-color: #000;
  transform: translate(0, -7px) rotate(-45deg);
  -webkit-transform: translate(0, -7px) rotate(-45deg);
  -moz-transform: translate(0, -7px) rotate(-45deg);
  -ms-transform: translate(0, -7px) rotate(-45deg);
  -o-transform: translate(0, -7px) rotate(-45deg);
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 1 220px;
  min-height: 100%;
  min-height: 100%;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  /* .sidebar__country */
}

.sidebar__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 0 0 0;
}

.sidebar__ul {
  padding: 0 0 20px 0;
  overflow-y: auto;
}

.sidebar__input {
  width: 100%;
  margin: 10px 0 30px 0;
  padding: 15px 10px;
  font-size: 20px;
  outline: none;
  box-shadow: 0 0 2px #000;
  border: none;
  background: #dfdede;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.sidebar__country {
  display: block;
  text-align: left;
  padding: 10px 15px;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding: 10px;
  font-size: 18px;
  color: #636363;
  font-weight: 700;
  background-color: #cbcbcb;
  border: 1px solid #c3c0c0;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}

.sidebar__input_wrapper {
  position: relative;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.input_before {
  cursor: text;
  text-overflow: ellipsis;
  position: absolute;
  display: block;
  transform: translate(10px, 23px);
  -webkit-transform: translate(10px, 23px);
  -moz-transform: translate(10px, 23px);
  -ms-transform: translate(10px, 23px);
  -o-transform: translate(10px, 23px);
  font-size: 20px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.input_active {
  position: absolute;
  display: block;
  font-size: 16px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transform: translate(10px, -7px);
  -webkit-transform: translate(10px, -7px);
  -moz-transform: translate(10px, -7px);
  -ms-transform: translate(10px, -7px);
  -o-transform: translate(10px, -7px);
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.links ul li {
  margin: 0 20px 0 0;
}

.links ul li:last-child {
  margin: 0 0 0 0;
}

.links ul li a {
  color: #c3c0c0;
}

.news {
  width: 100%;
  display: flex;
  row-gap: 20px;
  padding: 20px 0 20px 20px;
  flex-wrap: wrap;
  /* .news__card */
}

.news__card {
  margin: 0 0 0 20px;
  width: calc(50% - 20px);
  padding: 15px;
  background: linear-gradient(313deg, #cacaca, #f0f0f0);
  box-shadow: 0 -1px 3px #000;
  /*.news__card_img*/
  /* .news__card_title */
  /* .news__card_description */
  /* .news__card_link */
}

.news__card_img_wrapper {
  position: relative;
  flex: 0 0 350px;
  height: 315px;
  overflow: hidden;
}

.news__card_title {
  position: absolute;
  width: 100%;
  padding: 10px;
  z-index: 5;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.84);
  color: #fff;
  font-size: 18px;
}

.news__card_description {
  font-size: 18px;
  padding: 10px 0 20px 0;
}

.news__card_link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  background-color: #59668c;
  padding: 8px 25px;
  color: rgb(246, 246, 246);
  transition: all 0.4 ease;
  -webkit-transition: all 0.4 ease;
  -moz-transition: all 0.4 ease;
  -ms-transition: all 0.4 ease;
  -o-transition: all 0.4 ease;
}

.news__link_wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.to-top {
  position: fixed;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  width: 60px;
  height: 60px;
  bottom: 50px;
  border: 4px solid rgba(24, 24, 24, 0.4901960784);
  right: 50px;
  z-index: 700;
  color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: rgb(163, 163, 163);
  cursor: pointer;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transform: translate(0, 20px);
  -webkit-transform: translate(0, 20px);
  -moz-transform: translate(0, 20px);
  -ms-transform: translate(0, 20px);
  -o-transform: translate(0, 20px);
}

.to-top-active {
  visibility: visible;
  opacity: 1;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
}

.progress {
  width: 100%;
  height: 5px;
  overflow: hidden;
  background-color: #31d467;
  position: relative;
}

.progress span {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.progress span:first-child {
  position: absolute;
  animation: loader 1.6s infinite;
  width: 300px;
  height: 100%;
  background-color: #ff5f2f;
  -webkit-animation: loader 3.6s infinite;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transition: all 3 ease;
  -webkit-transition: all 3 ease;
  -moz-transition: all 3 ease;
  -ms-transition: all 3 ease;
  -o-transition: all 3 ease;
}

.progress span:nth-child(2) {
  position: absolute;
  animation: loader 2.8s infinite;
  width: 300px;
  height: 100%;
  background-color: #c470ff;
  -webkit-animation: loader 2.8s infinite;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transition: all 2.6s ease-in;
  -webkit-transition: all 2.6s ease-in;
  -moz-transition: all 2.6s ease-in;
  -ms-transition: all 2.6s ease-in;
  -o-transition: all 2.6s ease-in;
}

.progress span:last-child {
  position: absolute;
  animation: loader 1.6s infinite;
  width: 200px;
  height: 100%;
  background-color: #ff527a;
  -webkit-animation: loader 3.6s infinite 0.4s;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transition: all 2.6s ease-in-out;
  -webkit-transition: all 2.6s ease-in-out;
  -moz-transition: all 2.6s ease-in-out;
  -ms-transition: all 2.6s ease-in-out;
  -o-transition: all 2.6s ease-in-out;
}

@keyframes loader {
  from {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }

  to {
    transform: translateX(1000%);
    -webkit-transform: translateX(1000%);
    -moz-transform: translateX(1000%);
    -ms-transform: translateX(1000%);
    -o-transform: translateX(1000%);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: color 0.4s ease;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -ms-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  background-color: #dddddd;
}

ol {
  padding: 0 0 0 30px;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: flex;
}

._container {
  max-width: 1200px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

.page {
  flex: 1 1 auto;
  padding: 0 0 30px 0;
}

.btn_style {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 40px;
  padding: 10px;
  font-size: 14px;
  line-height: 100%;
  background-color: #585858;
  color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.blocked {
  overflow: hidden;
}

.text {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #21243d;
}

.title {
  font-weight: 700;
  font-size: 44px;
  line-height: 136.3636363636%;
  color: #9998A4;
}

.title-posts {
  font-size: 26px;
  line-height: 146.1538461538%;
  color: #21243d;
}

._ibg {
  position: relative;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

._ibg img {
  width: 100%;
  height: 100%;
}

.selected {
  background-color: #9c9c9c;
}

.main__wrapper {
  display: flex;
}

svg {
  width: 33px;
  height: 28px;
}

svg path,
polygon {
  fill: #636363;
}

.error {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .header__links:hover {
    color: #eeeeee;
  }

  .header__links:hover path {
    width: 40px;
    height: 40px;
    fill: #eeeeee;
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
  }

  .sidebar__country:hover {
    background-color: rgb(171, 171, 171);
  }

  .search:hover {
    background-color: #e7e7e7;
  }

  .news__card_link:hover {
    background-color: rgb(114, 145, 232);
  }

  .to-top:hover {
    background-color: #dddddd;
  }

  .btn_style:hover {
    background-color: #252ab3;
    color: rgb(255, 255, 255);
  }

  .btn_style:hover svg {
    transform: translate(3px, -2px);
    -webkit-transform: translate(3px, -2px);
    -moz-transform: translate(3px, -2px);
    -ms-transform: translate(3px, -2px);
    -o-transform: translate(3px, -2px);
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
  }
}

@media (max-width: 968px) {
  .news {
    padding: 20px 0 20px 0;
  }

  .news__card {
    width: 100%;
  }

  .news__card_img_wrapper {
    height: 345px;
  }
}

@media (max-width: 768px) {
  .header__menu_wrapper {
    display: flex;
    height: 50px;
  }

  .header__nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    padding: 15px 15px 0 15px;
    z-index: 100;
  }

  .header__ul {
    flex-wrap: nowrap;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0 0 0;
  }

  .header__ul {
    margin: 0 0 0 0;
  }

  .header__li {
    margin: 0 0 30px 0;
  }

  .header__links {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
  }

  .header__links svg {
    width: 30px;
    height: 30px;
  }

  .header__links svg path {
    fill: #fff;
  }

  .sidebar {
    position: fixed;
    overflow-y: auto;
    visibility: hidden;
    left: -105%;
    top: 0;
    width: 100%;
    z-index: 800;
    background-color: #cbcbcb;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }

  .sidebar__wrapper {
    overflow-y: scroll;
  }

  .sidebar__form {
    padding: 100px 0 0 0;
    overflow-y: auto;
  }

  .links ul {
    flex-direction: row;
  }

  .links {
    visibility: visible;
  }

  .news__card {
    margin: 0 0 0 0;
  }

  .btn_style {
    width: 148px;
    height: 54px;
    font-size: 15px;
  }

  .active {
    left: 0;
    visibility: visible;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}

@media (max-width: 600px) {
  .to-top {
    width: 45px;
    height: 45px;
  }

  .title-posts {
    font-size: 18px;
  }
}

@media (max-width: 396px) {
  .news__card_img_wrapper {
    height: 284px;
  }
}

@media (min-width: 768px) and (max-width: 396px) {
  .news__card_link {
    font-size: 16px;
  }
}